%ul#results
	- if not @developers.empty?
		%em 
			Your search for the term(s) "
			%strong
				= @search.search_attributes.collect { | key, value | v }.to_sentence
			= "\" found #{@developers.count} results "
		
		- @developers.each do |developer|
			%li
				.id
					= "# #{developer.id}"
				.name
					= link_to "#{developer.name}", edit_developer_path(developer)
				.email
					= developer.email
				.age
					= developer.age
				.options
					= #link_to "edit", edit_developer_path(developer), :class => "edit_btn"
					= #link_to "delete", developer, :method => "delete", :confirm => "Are you sure?", :class => "delete_btn"
	- else
		%h4 No results found.