#main_presentation
	.container_16
		
		
		%h1
			Exclusive access to top developers
			
			
		.about_our_work
			%p
				TopTal connects start-ups, businesses and organizations to a growing
				network of the best developers in the world.
			%p
				Our engineers are available full or part-time and are able to seamlessly
				integrate into your team.
			
			%p
				= image_tag 'business_and_toptal.jpg'
		.benefits
			%ol
				%li
					%h2 Superior Work
					.desc
						Our engineers have a tried and tested
						track record of programming brilliance

				%li
					%h2 Painless Communication
					.desc
						Our engineers speak, read and write English 
						as well as or better than most native speakers

				%li
					%h2 Zero Risk
					.desc
						We offer a two-week, risk-free trial period for
						long-term developers add to your team
			
			.how_toptal_works
				.button
					= link_to "See how TopTal works"
					= image_tag 'bg_benefits_arrow.png'

#clients						
	.container_16
		#who_is_using
			%h2
				Who's using TopTal engineers?
			.client
				= image_tag('bg_clients.jpg')
				

#about_us
	.container_16
		.sections
			.top_engineers
				%h3 Top Engineers
				.text
					%p
						Every TopTal engineer is recruited, screened and
						rigorously tested by an established, upper-echelon 
						team of other TopTal engineers. All of our recruiters
						are highly acclaimed engineers themselves, which
						means that we always have A-players looking for 
						A-players.
			.any_technology
				%h3 Any Technology
				.text
					%p
						TopTal provides the highest quality of engineering
						talent for any web, mobile or desktop technology 
						stack. Our engineers have the ability to  smoothly
						and quickly integrate into or adapt to any project 
						management, collaborative environment, or 
						versioning software (VCS) that your company uses.
		
		.what_are_we_looking_for
			= link_to "Click here to learn more about what we look for..."

